/MainPython.aux
/MainPython.log
/MainPython.out
/MainPython.synctex.gz
/MainPython.toc
/preamble.log
/.log
/.aux
/.out
/.toc
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Tricks.iml
/.idea/vcs.xml
/_minted-MainPython/CD26AFEC5E29484290C06A4A261775C3B4FA9631211AE7096276CECC3DD5481E.pygtex
/_minted-MainPython/colorful.pygstyle
/MainPython.listing
/pandas.aux
/.idea/workspace.xml
