/MainPython.aux
/MainPython.log
/MainPython.out
/MainPython.synctex.gz
/MainPython.toc
/preamble.log
/.log
/.aux
/.out
/.toc
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Tricks.iml
/.idea/vcs.xml
